<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
<div class="container-fluid mt-5">
  <style>
    body{
      background-color: #8F89DD;
    }
    h1{
      font-family: 'Quicksand', sans-serif;
      color: white;
      font-size: 70px;
    }
    .btn-login{
      color: #33D89E;
      background-color: white;
      border-radius: 30px;
      padding: 0.5rem 2rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
    }
    p{
      color: white;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
    }
    .btn-limpp {
      color: white;
      background-color: #3A10AA;
      border-radius: 30px;
      padding: 0.5rem 2rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
    }
    .btn-limpp:hover {
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
    }
    i {
      margin-right: 20px;
    }
    .btn-cadastrar{
      color: white;
      background-color: #333132;
      border-radius: 30px;
      padding: 0.5rem 2rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    .btn-inicio{
      color: white;
      border-radius: 30px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      padding-bottom: 0px;
      padding-top: 12px;
    }
    .label{
      color: white;
    }
  </style>
    <h1 class="text-center">limpp</h1>
    <div class="d-flex justify-content-center mt-5">
        <%=    link_to 'Já tenho login', user_session_path, class: "btn btn-login" %>
    </div>
    <div class="d-flex justify-content-center mt-3">
    <% unless current_user %>
      <%=    link_to '<i class="fab fa-facebook-f"></i>  Entrar com o Facebook'.html_safe, user_facebook_omniauth_authorize_path, class: "btn btn-limpp" %>
    <% else %>
  <%= current_user[:name] %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-limpp" %>
<% end %>
    </div>
    <p class="text-center mt-4">ou preencha abaixo:</p>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    label: "Digite seu email",
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'rounded-pill' }%>
        <%= f.input :password,
                    required: true,
                    label: "Crie uma senha",
                    hint: ("mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: 'rounded-pill' } %>
        <%= f.input :password_confirmation,
                    label: "Confirme sua senha",
                    required: true,
                    input_html: { autocomplete: "new-password", class: 'rounded-pill' } %>
      </div>

      <div class="form-actions mt-2 d-flex justify-content-end">
        <%= f.button :submit, "Cadastrar", class:"btn btn-cadastrar" %>
      </div>
    <% end %>
      <div class="mt-2">
      <%= link_to root_path, class:"btn btn-inicio" do %>
        <figure class="d-flex align-items-center">
           <%= image_tag "inicio.png" %><figcaption class="ml-2 mt-1">Início</figcaption>
        </figure>
      <% end %>
      </div>
</div>
