<style>
  .fontnav{
      color: white;
      font-size: 14px;
    }
    .dropdown .dropdown-menu a{
      background-image: linear-gradient(to bottom, #66d79f, #00cdc8, #00bde8, #33a7f0, #8d8bdc);
    }
</style>
<% if current_user %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-end">

  <button class="navbar-toggler border-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag "menunavbar.svg" %>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-2">
      <% if user_signed_in? %>
        <li class="nav-item active mt-2">
          <%= link_to "Home", root_path, class: "nav-link fontnav mr-1" %>
        </li>
        <li class="nav-item active  mt-1">
          <%= link_to wishlists_path, class:"mr-3" do %>
          <%= image_tag "heart.png" %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "usuario.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Início", root_path, class: "dropdown-item fontnav" %>
            <%= link_to "Buscar produto", items_path, class: "dropdown-item fontnav" %>
            <%= link_to "Produtos salvos", wishlists_path, class: "dropdown-item fontnav" %>
            <%= link_to "Responsabilidade limpp", responsible_path, class: "dropdown-item fontnav" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item fontnav" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% else %>

<% end %>
