<div class="backgroundrules">
<p class="legenda">Legenda</p>
<div class="d-flex">
<div class="d-flex">
    <%= image_tag "saude.svg", class:"margemlegenda" %>
    <p class="marginlegend">Risco à saúde</p>
</div>
<div class="d-flex">
    <%= image_tag "ambiente.svg", class:"margemlegenda" %>
    <p class="marginlegend">Risco ao meio ambiente</p>
</div>
<div class="d-flex">
    <%= image_tag "alergia.svg", class:"margemlegenda" %>
    <p class="marginlegend">Potencial alegênico</p>
</div>
</div>
<div class="d-flex">
<div>
<span class="dotgreen"></span>
<p class="criterioslegenda"> Seguro em cosméticos </p>
</div>
<div>
<span class="dotyellow"></span>
<p class="criterioslegendayellow"> Seguro em cosméticos, com restrições </p>
</div>
<div>
<span class="dotorange"></span>
<p class="criterioslegendaorange"> Classificados como seguros, porém, com suspeitas ainda em avaliação  </p>
</div>
</div>
<div class="d-flex">
<div>
<span class="dotred"></span>
<p class="criterioslegendared"> Comprovadamente associados a danos graves </p>
</div>
<div>
<span class="dotgrey"></span>
<p class="criterioslegendagrey"> Potencial inconclusivo   </p>
</div>
</div>
</div>
<div class="row justify-content-center">
  <div class="column d-flex flex-wrap">
     <% @ingredients.each do |ingredient| %>
     <div class="card shadow-sm bg-white mt-3 ml-3" style="width: 20rem; border-radius: 8px; ">
        <div class="card-body d-flex justify-content-start">
         <div class="d-flex align-items-end position">
            <% if ingredient.name == "PARFUM" %>
            <li class="card-text fontingredientindex"><%= ingredient.name %><%= image_tag "alert.svg", class:"alertsize" %></li>
        <% else %>
            <li class="card-text fontingredientindex"><%= ingredient.name %></li>
        <% end %>
        </div>
        <div class="margincardingredient">
        <%= image_tag "saude.svg", class:"marginhealth2" %>
          <% if ingredient.risk_to_health == "yellow" %>
            <span class="dotyellow2"></span>
          <% elsif ingredient.risk_to_health == "red"  %>
            <span class="dotred2"></span>
          <% elsif ingredient.risk_to_health == "grey"  %>
            <span class="dotgrey2"></span>
          <% elsif ingredient.risk_to_health == "orange"  %>
            <span class="dotorange2"></span>
          <% else %>
            <span class="dotgreen2"></span>
          <% end %>
        </div>

        <div class="margincardingredient">
          <%= image_tag "ambiente.svg", class:"marginenvironment" %>
          <% if ingredient.risk_to_enviroment == "yellow" %>
            <span class="dotyellow2"></span>
          <% elsif ingredient.risk_to_enviroment == "red"  %>
            <span class="dotred2"></span>
          <% elsif ingredient.risk_to_enviroment == "orange"  %>
            <span class="dotorange2"></span>
          <% elsif ingredient.risk_to_enviroment == "grey"  %>
            <span class="dotgrey2"></span>
          <% else %>
            <span class="dotgreen2"></span>
          <% end %>
        </div>
        <div class="margincardingredient">
        <%= image_tag "alergia.svg", class:"marginhealth2" %>
          <% if ingredient.allergenic == "sim" %>
          <p class="potencialsim2">SIM</p>
          <% else %>
          <p class="potencialnao2">NÃO</p>
          <% end %>
        </div>
        <div class="d-flex justify-content-end">
        <%= link_to ingredient_path(ingredient), class:"componentingredient" do %>
          <%= image_tag "Componente.svg" %>
        <% end %>
        </div>
        </div>
     </div>
     <% end %>

  </div>
</div>
