<style>
  .show{
      min-width: 270px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .btn-filtrar{
      background-color: #67D89E;
      color: white;
      border-radius: 30px;
      font-weight: bold;
      padding: 0.3rem 1.2rem;
    }
    a{
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
    }
    a:hover{
      color: #333132;
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
    .form-control{
      border: none !important;
    }
</style>
<div class="container-fluid mt-2">
  <div class="container p-1">
  <div class="d-flex justify-content-center">
    <%= image_tag "logolimpp.svg", class:'image' %>
  </div>
  <form>
    <div class="d-flex justify-content-center marginsearch">
     <div class="input-group mb-3">
        <%= form_tag ingredients_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill shadow-sm p-3 bg-white rounded font-search",
          placeholder: "Busque por um ingrediente"
        %>
      <%= image_submit_tag("lupa.svg", class: 'lupa ml-2') %>
      <% end %>
     </div>
    </div>
   </form>
   <% if params[:query].present? || params[:order] || params[:search] %>
   <%= link_to "Eliminar filtros, ordenações e buscas", ingredients_path, class:"font ml-3"  %>
   <% end %>
<div class="d-flex justify-content-between mt-2">
    <div class="dropdown">
        <%= image_tag "ordenar.svg" %> Ordenar  ▾
        <div class="dropdown-content sort">
        <a class="dropdown-item" href="#"> <%= link_to 'Pelos mais limpos', ingredients_path(order: 'cleanesti') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Pelos mais preocupantes', ingredients_path(order: 'dirtiest') %></a>
      </div>
    </div>

  <div class="dropdown mr-4">
        <%= image_tag "filtrar.svg" %> Filtrar  ▾
        <div class="dropdown-content index">
            <%= simple_form_for :search, method: "GET" do |f| %>
             <p class="fontfilter">Potencial dano que pode causar</p>
              <%= f.input :type, label:"", required: false, collection: $type, as: :check_boxes, class:"greencheck" %>
              <p class="fontfilter">Importante para veganos </p>
              <%= f.input :vegan, label:"", required: false,  collection: $vegan, as: :check_boxes %>
              <p class="fontfilter">Para restrições ao glúten </p>
              <%= f.input :gluten, label:"", required: false,  collection: $gluten, as: :check_boxes %>
             <%= f.submit "Filtrar", class: "btn btn-filtrar d-flex justify-content-end" %>
          <% end %>
       </div>
      </div>
</div>
<% if params[:query].present? || params[:order] || params[:search] %>
<%= render 'cardindex' %>
<% else %>
<%= render 'firstpage' %>
<% end %>
  </div>
</div>
