<div class="container-fluid">
 <div class="p-3 mr-5">
    <h1 class="mt-5 mb-4 ingredientnameshow"><%= @ingredient.name %></h1>
    <div class="d-flex">
    <%= image_tag "saude.svg", class:"marginhealth mt-2" %>
    <p class="marginriskhealth">Risco à saúde</p>
    <% if @ingredient.risk_to_health == "yellow" %>
        <span class="dotyellow"></span>
        <% elsif @ingredient.risk_to_health == "red"  %>
        <span class="dotred"></span>
        <% elsif @ingredient.risk_to_health == "orange"  %>
        <span class="dotorange"></span>
        <% elsif @ingredient.risk_to_health == "grey"  %>
        <span class="dotgrey"></span>
        <% else %>
        <span class="dotgreen"></span>
        <% end %>
    </div>
    <% if !@ingredient.risk_to_health_text.to_s.empty? %>
    <p class="risktext"><%= @ingredient.risk_to_health_text %></p>
    <% end %>
    <div class="d-flex">
    <%= image_tag "ambiente.svg", class:"marginleaf" %>
    <p class="marginrisk">Risco ao meio ambiente</p>
    <% if @ingredient.risk_to_enviroment == "yellow" %>
        <span class="dotyellow3"></span>
        <% elsif @ingredient.risk_to_enviroment == "red"  %>
        <span class="dotred3"></span>
        <% elsif @ingredient.risk_to_enviroment == "orange"  %>
        <span class="dotorange3"></span>
        <% elsif @ingredient.risk_to_enviroment == "grey"  %>
        <span class="dotgrey3"></span>
        <% else %>
        <span class="dotgreen3"></span>
        <% end %>
    </div>
    <% if !@ingredient.risk_to_enviroment_text.to_s.empty? %>
     <p class="risktext"><%= @ingredient.risk_to_enviroment_text %></p>
    <% end %>
    <div class="d-flex">
    <%= image_tag "alergia.svg", class:"marginalergenic" %>
    <p class="marginrisk">Potencial alegênico</p>
    <% if @ingredient.allergenic == "sim" %>
     <p class="potencialsim">SIM</p>
    <% else %>
     <p class="potencialnao">NÃO</p>
    <% end %>
    </div>
    <p class="lineaingredient">_____________________________________________________</p>
        <div class="d-flex">
    <%= image_tag "purpose.svg", class:"purposesize" %>
    <p class="marginfunction">Funções do ingrediente</p>
    </div>
        <% @ingredient.mergers.each do |merger| %>
          <li class="purposename"><%= merger.purpose.name %></li>
          <li class="purposecontent"><%= merger.purpose.content %></li>
        <% end %>
    <p class="lineaingredient mt-4">_____________________________________________________</p>
    <div class="d-flex">
    <%= image_tag "ingrediente.svg", class:"marginhealth" %>
    <p class="marginrisk">Outros nomes do ingrediente</p>
    </div>
    <p class="purposecontent"><%= @ingredient.other_names %></p>
    <p class="lineaingredient">_____________________________________________________</p>

    <% if @ingredient.observation.present? %>
     <div class="d-flex">
     <%= image_tag "alert.svg", class:"marginrestriction" %>
      <p class="marginrisk">Observações</p>
     </div>
      <p class="risktext"><%= @ingredient.observation %></p>
    <p class="lineaingredient">_____________________________________________________</p>
    <% end %>

    <% if @ingredient.restrictions.present? %>
     <div class="d-flex">
     <%= image_tag "restrictions.svg", class:"marginrestriction" %>
      <p class="marginrisk">Restrições</p>
     </div>
      <p class="risktext"><%= @ingredient.restrictions %></p>
    <p class="lineaingredient">_____________________________________________________</p>
    <% end %>

    <div class="d-flex">
    <%= image_tag "fontes.svg", class:"fontessize" %>
    <p class="marginrisk">Fontes</p>
    </div>
    <% @ingredient.articles.each do |article| %>
    <%= link_to article.link do %>
        <ul>
        <p class="articlename"><%= article.name %> <%= article.year %></p>
      </ul>
      <% end %>
    <% end %>

  <div class="d-flex mt-5"><p class="fonttitle">Critérios de avaliação</p><%= image_tag "limppsemslogan.svg" , class:"sizesemlogan" %> </div>
    <span class="bigdotgreen"></span>
    <p class="criterios"> Seguro em cosméticos </p>
    <p class="criterioscinza"> É seguro em cosméticos sem restrições e sem causar impactos a saúde e/ou ao meio ambiente.</p>
<span class="bigdotyellow"></span>
    <p class="criteriosyellow"> Seguro em cosméticos, com restrições  </p>
    <p class="criterioscinza"> É seguro em cosméticos com restrições de quantidade e/ou uso, segundo evidências científicas. E podem causar impactos a saúde e/ou ao meio ambiente se forem utilizadas em finalidades distintas as aprovadas ou em quantidade acima das permitidas.</p>
<span class="bigdotred"></span>
    <p class="criteriosred"> Inseguro em cosméticos </p>
    <p class="criterioscinza"> São considerados inseguros em cosméticos, segundo evidências científicas. E podem causar impactos graves a saúde e/ou ao meio ambiente.</p>
<span class="bigdotgrey"></span>
    <p class="criteriosgrey"> Potencial inconclusivo   </p>
    <p class="criterioscinza mb-3"> Estudos não permitem nenhuma conclusão por estarem em andamento ou obterem dados divergentes sobre sua segurança a saúde e/ou impactos ao meio ambiente.</p>
</div>
    </div>
</div>
