<style>
  .ingredientnameshow{
    color: #8F89DD;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .function{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  }
  .marginhealth{
    margin-bottom: 18px;
  }
  .marginrestriction{
    margin-left: -6px;
  }
  .marginrisk{
    margin-left: 15px;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
  .purposename{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #707070;
  }
  .purposecontent{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #707070;
  }
</style>
<div class="container-fluid">
 <div class="p-3 mr-5">
    <h1 class="mt-5 mb-2 ingredientnameshow"><%= @ingredient.name %></h1>
        <% @ingredient.mergers.each do |merger| %>
          <li class="mt-3 mb-1 purposename"><%= merger.purpose.name %></li>
          <li class="mt-1 mb-1 purposecontent"><%= merger.purpose.content %></li>
        <% end %>
    <div class="d-flex">
    <%= image_tag "saude.svg", class:"marginhealth mt-2" %>
    <p class="marginrisk mt-3">Risco à saúde</p>
    <% if @ingredient.risk_to_health == "yellow" %>
        <span class="dotyellow mt-3"></span>
        <% elsif @ingredient.risk_to_health == "red"  %>
        <span class="dotred mt-3"></span>
        <% else %>
        <span class="dotgreen mt-3"></span>
        <% end %>
    </div>
    <% if @ingredient.risk_to_health == "yellow" || @ingredient.risk_to_health == "red" %>
    <p class="risktext"><%= @ingredient.risk_to_health_text %></p>
    <% end %>
    <div class="d-flex">
    <%= image_tag "ambiente.svg", class:"marginhealth" %>
    <p class="marginrisk">Risco ao meio ambiente</p>
    <% if @ingredient.risk_to_enviroment == "yellow" %>
        <span class="dotyellow"></span>
        <% elsif @ingredient.risk_to_enviroment == "red"  %>
        <span class="dotred"></span>
        <% else %>
        <span class="dotgreen"></span>
        <% end %>
    </div>
    <% if @ingredient.risk_to_enviroment == "yellow" || @ingredient.risk_to_enviroment == "red" %>
     <p class="risktext"><%= @ingredient.risk_to_enviroment_text %></p>
    <% end %>
    <div class="d-flex">
    <%= image_tag "alergia.svg", class:"marginhealth" %>
    <p class="marginrisk">Potencial alegênico</p>
    <% if @ingredient.allergenic == "sim" %>
     <p class="potencialsim">SIM</p>
    <% else %>
     <p class="potencialnao">NÃO</p>
    <% end %>
    </div>
    <div class="d-flex">
    <%= image_tag "ingrediente.svg", class:"marginhealth" %>
    <p class="marginrisk">Outros nomes</p>
    </div>
    <p class="function"><%= @ingredient.other_names %></p>
    <% if @ingredient.restrictions.present? %>
     <div class="d-flex">
     <%= image_tag "restricoes.png", class:"marginrestriction" %>
      <p class="marginrisk">Restrições</p>
      <p class="risktext"><%= @ingredient.restrictions %></p>
    <% end %>
     </div>
    <div class="d-flex">
    <%= image_tag "ingrediente.svg", class:"marginhealth" %>
    <p class="marginrisk">Fontes</p>
    </div>
    <p class="function"><%= @ingredient.article %></p>
  </div>
</div>
