<div class="container-fluid">
 <div class="p-3 mr-5">
  <div class="d-flex justify-content-left">
    <%= link_to root_path do %>
    <%= image_tag "logolimpp.svg", class:'imageingredient' %>
    <% end %>
  </div>
  <div class="inlinedesk">
    <h1 class="ingredientnameshow"><%= @ingredient.name %></h1>
  </div>
  <div class="inlinedeskrisk">
    <% if @ingredient.type.any? %>
    <p class="marginriskhealth">Dano potencial:</p>
    <% @ingredient.type.each do |r| %>
    <li><p  class="tagname"> <%= r.name %></p></li>
    <% end %>
    <% end %>
    </div>
    <div class="inlinedeskrisk">
    <% if @ingredient.vegan.any? %>
    <p class="marginriskhealth">Outro:</p>
    <% @ingredient.vegan.each do |s| %>
    <li><p  class="tagname"> <%= s.name %></p></li>
    <% end %>
    <% end %>
    </div>

    <p class="lineaingredientdesk">______________________________________________________________________________________________________________________________________________________________________________________</p>
    <div class="inlinedeskcriteria">
    <div class="d-flex">
    <%= image_tag "saude.svg", class:"marginhealth marginhealthdesk" %>
    <p class="marginriskhealth">Risco à saúde</p>
    <% if @ingredient.risk_to_health == "yellow" %>
        <span class="dotyellow4"></span>
        <% elsif @ingredient.risk_to_health == "red"  %>
        <span class="dotred4"></span>
        <% elsif @ingredient.risk_to_health == "orange"  %>
        <span class="dotorange4"></span>
        <% elsif @ingredient.risk_to_health == "grey"  %>
        <span class="dotgrey4"></span>
        <% else %>
        <span class="dotgreen4"></span>
        <% end %>
    </div>
    <% if !@ingredient.risk_to_health_text.to_s.empty? %>
    <p class="risktext"><%= @ingredient.risk_to_health_text %></p>
    <% end %>
    </div>
    <div class="inlinedeskcriteria">
    <div class="d-flex marginriskdesk">
    <%= image_tag "ambiente.svg", class:"marginleaf marginleafdesk" %>
    <p class="marginriskingredient">Risco ao meio ambiente</p>
    <% if @ingredient.risk_to_enviroment == "yellow" %>
        <span class="dotyellow4"></span>
        <% elsif @ingredient.risk_to_enviroment == "red"  %>
        <span class="dotred4"></span>
        <% elsif @ingredient.risk_to_enviroment == "orange"  %>
        <span class="dotorange4"></span>
        <% elsif @ingredient.risk_to_enviroment == "grey"  %>
        <span class="dotgrey4"></span>
        <% else %>
        <span class="dotgreen4"></span>
        <% end %>
    </div>
    <% if !@ingredient.risk_to_enviroment_text.to_s.empty? %>
     <p class="risktextdesk"><%= @ingredient.risk_to_enviroment_text %></p>
    <% end %>
    </div>
    <div class="inlinedeskcriteria">
    <div class="d-flex marginriskdesk">
    <%= image_tag "alergia.svg", class:"marginalergenic marginalergenicdesk" %>
    <p class="marginriskingredient">Potencial alergênico</p>
    <% if @ingredient.allergenic == "sim" %>
     <p class="potencialsim">SIM</p>
    <% else %>
     <p class="potencialnao">NÃO</p>
    <% end %>
    </div>
    </div>
<p class="text-left mt-2 risktextobs">Obs.: Ao existir um potencial alergênico não significa que você vá desenvolver uma alergia utilizando o produto. Mas sim, que são ingredientes que comumente oferecem maior probabilidade de irritação, sensibilização ou reação alérgica da pele. Mas lembre-se, seu médico é sempre a melhor pessoa para indicar ou contraindicar produtos.</p>
    <p class="lineaingredient">_____________________________________________________</p>

      <div class="d-flex">
    <%= image_tag "purpose.svg", class:"purposesize" %>
    <p class="marginfunction">Funções do ingrediente</p>
    </div>
        <% @ingredient.mergers.each do |merger| %>
          <li class="purposename"><%= merger.purpose.name %></li>
          <li class="purposecontent"><%= merger.purpose.content %></li>
        <% end %>
    <p class="lineaingredient mt-4">_____________________________________________________</p>
    <div class="d-flex">
    <%= image_tag "ingrediente.svg", class:"marginhealth" %>
    <p class="marginrisk">Outros nomes do ingrediente</p>
    </div>
    <p class="purposecontent"><%= @ingredient.other_names %></p>
    <p class="lineaingredient">_____________________________________________________</p>

    <% if @ingredient.observation.present? %>
     <div class="d-flex">
     <%= image_tag "alert.svg", class:"marginrestriction" %>
      <p class="marginrisk">Observações</p>
     </div>
      <p class="purposecontent"><%= @ingredient.observation %></p>
    <p class="lineaingredient">_____________________________________________________</p>
    <% end %>

    <% if @ingredient.restrictions.present? %>
     <div class="d-flex">
     <%= image_tag "restrictions.svg", class:"marginrestriction" %>
      <p class="marginrisk">Restrições</p>
     </div>
      <p class="purposecontent"><%= @ingredient.restrictions %></p>
    <p class="lineaingredient">_____________________________________________________</p>
    <% end %>

    <div class="d-flex">
    <%= image_tag "fontes.svg", class:"fontessize" %>
    <p class="marginrisk">Fontes</p>
    </div>
    <% @ingredient.articles.each do |article| %>
    <%= link_to article.link do %>
        <ul>
        <p class="articlename"><%= article.name %> <%= article.year %></p>
      </ul>
      <% end %>
    <% end %>
<div class="backgrouddesk mt-5">
  <div class="d-flex"><p class="fonttitle">Critérios de avaliação</p><%= image_tag "limppsemslogan.svg" , class:"sizesemlogan" %> </div>
  <div class="inlinedeskcriteria">
  <span class="bigdotgreen"></span>
    <p class="criterios"> Seguro em cosméticos </p>
    <p class="criterioscinza mr-5"> É seguro em cosméticos sem restrições de uso ou quantidade, e sem causar impactos à saúde e/ou ao meio ambiente.</p>
  </div>
  <div class="inlinedeskcriteria">
<span class="bigdotyellow"></span>
    <p class="criteriosyellow"> Seguro em cosméticos, com restrições  </p>
    <p class="criterioscinza mr-5"> É seguro em cosméticos com restrições de quantidade e/ou uso, segundo evidências científicas. E podem causar impactos à saúde e/ou ao meio ambiente se forem utilizadas em finalidades distintas as aprovadas ou em quantidade acima das permitidas.</p>
  </div>
  <div class="inlinedeskcriteria">
<span class="bigdotorange"></span>
    <p class="criteriosorange"> Classificados como seguros, mas ainda em avaliação </p>
    <p class="criterioscinza mr-5"> São considerados seguros em cosméticos por órgãos especializados, porém, estão com estudos ainda em avaliação de danos mais graves.</p>
  </div>
  <div class="margincriteriadesk">
  <div class="inlinedeskcriteria">
<span class="bigdotred"></span>
    <p class="criteriosred"> Comprovadamente associados a danos graves </p>
    <p class="criterioscinza mr-5"> Já existe comprovação científica conclusiva que podem causar impactos graves à saúde e/ou ao meio ambiente.</p>
  </div>
  <div class="inlinedeskcriteria">
<span class="bigdotgrey"></span>
    <p class="criteriosgrey"> Potencial inconclusivo   </p>
    <p class="criterioscinza mr-5"> Estudos não permitem nenhuma conclusão por estarem em andamento ou obterem dados divergentes sobre sua segurança a saúde e/ou impactos ao meio ambiente.</p>
  </div>
  </div>
</div>
    </div>
</div>
