<style>
  .ingredientname{
    color: #333132;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .function{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
  }
  .dotgreen {
    height: 20px;
    width: 20px;
    background-color: #00B576;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
  }
  .marginhealth{
    margin-bottom: 18px;
  }
  .marginrisk{
    margin-left: 15px;
    color: #333132;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
  }
  .potencialnao{
    background-color: #00B576;
    border-radius: 30px;
    display: inline-block;
    margin-left: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
  }
</style>
<div class="container-fluid">
 <div class="p-3 mr-5">
    <h1 class="mt-5 ingredientname"><%= @ingredient.name %></h1>
    <p class="function">EMULSIONANTE Promove a formação de misturas íntimas de líquidos não miscíveis, alterando a tensão interfacial. ESTABILIZADOR DE EMULSÃO Ajuda o processo de emulsificação e melhora a estabilidade da emulsão e prazo de validade. CONDICIONANTE DE CABELO Deixa o cabelo mais fácil de pentear, flexível, macia e brilhante e / ou confere volume, leveza, brilho, etc. CONDICIONADOR DA PELE Mantém a pele em boas condições. SURFACTANTE/TENSOATIVO Diminui a tensão superficial da cosmética, bem como auxiliares de distribuição uniforme do produto, quando usado. REGULADOR DE VISCOSIDADE Aumenta ou diminui a viscosidade dos cosméticos.</p>
    <div class="d-flex">
    <%= image_tag "saude.svg", class:"marginhealth" %>
    <p class="marginrisk">Risco à saúde</p><span class="dotgreen"></span>
    </div>
    <div class="d-flex">
    <%= image_tag "ambiente.svg", class:"marginhealth" %>
    <p class="marginrisk">Risco ao meio ambiente</p><span class="dotgreen"></span>
    </div>
    <div class="d-flex">
    <%= image_tag "alergia.svg", class:"marginhealth" %>
    <p class="marginrisk">Potencial alegênico</p><p class="potencialnao">NÃO</p>
    </div>
    <div class="d-flex">
    <%= image_tag "ingrediente.svg", class:"marginhealth" %>
    <p class="marginrisk">Outros nomes</p>
    </div>
    <p class="function">• BUTYROSPERMUM PARKII BUTTER • BUTYROSPERMUM PARKII (SHEA BUTTER) • KARITE BUTTER • SHEA BUTTER • SHEA BUTTER FRUIT • MANTEIGA DE KARITÉ • VITELLARIA NILOTICA (SHEA) FRUIT BUTTER • VITELLARIA PARADOXA (SHEA BUTTER)</p>
    <div class="d-flex">
    <%= image_tag "ingrediente.svg", class:"marginhealth" %>
    <p class="marginrisk">Fontes</p>
    </div>
    <p class="function"><%= @ingredient.article %></p>
  </div>
</div>
