<div class="container-fluid mt-2">
  <style>
    body {
      height: 100vh;
      margin: 0;
      display: grid;
      background: white;
    }
    .backgroud{
      max-width: 320px;
      position: relative;
      background: linear-gradient(to bottom, #66d79f, #00cdc8, #00bde8, #33a7f0, #8d8bdc);
      padding: 10px;
      top: 20%;
      left: 4%;
    }
    .module {
      background: white;
      padding: 10px;
      color: #707070;
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
    }
    .btn-avaliacao{
      color: white;
      background-color: #8F89DD;
      border-radius: 30px;
      padding: 0.5rem 2rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    .space{
      margin-bottom: 1px;
    }
    .subtitle{
      font-size: 13px;
      font-weight: bold;
    }
    .margindiv{
      margin-right: 90px;
    }
  </style>
  <div class="row justify-content-center mr-2">
  <div class="backgroud"><div class="module">
    <h5 class="font-weight-bold text-center mt-2">Bem vinde ao limpp!</h5>
    <p class="text-center mt-1 subtitle ml-1 mr-1">Conhecimentos compartilhados para uma beleza mais consciente.</p>
  <div class="column d-flex flex-wrap">
      <div class="margindiv">
      <%= image_tag "buscainicial.svg" %>
        <figcaption class="ml-2 mt-1 text-wrap mr-4"> Busque pelo ingrediente ou nome do produto</figcaption>
      </div>
      <div class="margindiv">
        <%= image_tag "termometroinicial.svg" %>
        <figcaption class="ml-2 mt-1"> Conheça a avaliação dos ingredientes</figcaption>
      </div>
      <div class="margindiv">
        <%= image_tag "avaliação.svg" %>
        <figcaption class="ml-2 mt-1"> Sugira produtos para serem avaliados</figcaption>
      </div>
      <div class="margindiv">
         <%= image_tag "descontosacola.svg" %>
        <figcaption class="ml-2 mt-1"> Ganhe desconto em produtos limpos</figcaption>
      </div>
  </div>
<%= link_to new_user_session_path, class:"btn btn-avaliacao mt-4" do %>
      <figure class="d-flex align-items-center space">
         <%= image_tag "userwhite.svg" %><figcaption class="ml-2 mt-1 space">Login</figcaption>
       </figure>
<% end %>
    <p class="mt-4 ml-3"><%= image_tag "Posts-limpp.png" %></p>
  </div></div>
  </div>
</div>

