<style>
    h6{
    color: #333132;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    }
  p{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    }
    .btn-avaliacao{
      color: white;
      background-color: #8F89DD;
      border-radius: 30px;
      padding: 0.5rem 2rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    .title{
      color: #67D89E;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
    }
    .verde{
      color: #57B675;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;

    }
    .amarelo{
      color: #FABA02;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .vermelho{
      color: #D93500;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
</style>
<div class="container marginresponsibleall mt-4 mr-2 p-3">
  <div class="inlinedeskcriteria">
  <div class="d-flex justify-content-center"><%= image_tag "responsability.svg" %></div>
  </div>
  <div class="inlinedeskcriteria marginresponsibledeskt">
    <h6 class="text-center mt-5 sizedeskresponsible">Promover acesso à informação para empoderar escolhas conscientes</h6>
      <p class="text-left mt-5 title">Ecologicamente correto</p>
      <p class="text-left mt-3 sizetextresponsible">Pensamos no meio ambiente. Sabemos que existem substâncias que em determinada quantidade são seguras para o ser humano, mas quando eliminadas via sistema de esgoto, ou utilizadas em mares e rios oferecem grandes riscos a natureza.</p>
      <p class="text-left mt-4 title">Socialmente justo</p>
      <p class="text-left mt-3 sizetextresponsible">Tudo o que é ser humano e suas relações. Desde as parcerias com negociações ganha ganha, até a garantia da saúde e bem estar dos nossos consumidores.</p>
      <p class="text-left mt-4 title">Economicamente viável</p>
      <p class="text-left mt-3 sizetextresponsible">Sabemos que o mercado de beleza limpa ainda é pequeno. A ideia é ser uma plataforma que divulgue o diferencial desse mercado, fazendo com que as empresas que hoje se preocupam com formulação sustentável cresçam, incentivando o pequeno produtor local.</p>
  </div>
  <div></div>
    <div class="inlinedeskcriteria">
    <h6 class="text-center mt-5 sizecriteria">Nossos critérios são transparentes!</h6>
    </div>
    <div class="inlinedeskcriteria">
      <p class="text-left mt-5 sizecriteriatext">Começamos analisando todas as listas de proibidos fora do Brasil, e de ingredientes que são aconselhados a serem evitados. Fizemos nossos próprios critérios e classificamos esses ingredientes e mais centenas de outros pouco falados, porém, importantes de serem pontuados. Também classificamos ingredientes muito comuns e que são bons para que vocês possam ficar tranquilos. Porém, hoje o CosIng, base da União Européia que cataloga ingredientes cosméticos, tem mais de 32 mil substâncias! Não avaliamos todos, mas como focamos nos "piores" e mais comuns, ao não encontrar um ingrediente existe uma chance alta ou dele ser tranquilo ou ser uma substância mais nova com poucos estudos ou inconclusivos. Caso sinta falta de algum ingrediente importante, você pode entrar em contato conosco em <em>limpp.com.vc@gmail.com</em> </p>
      <p class="text-left mt-3 sizecriteriatext">Analisamos ingredientes/substâncias em sua menor unidade, não apenas as classes ou grupos generalizados. Exemplo: classificamos o Metilparabeno, o Butilparabeno etc, e não parabenos em geral. Mas por vezes vimos que alguns podem ser agrupados, visto que tem a mesma classificação. </p>
    </div>
    <div>
    <div class="inlinedeskcriteria">
    <div class="d-flex mt-5">
    <%= image_tag "fontes.svg", class:"articleresponsible" %>
    <p class="provenarticle">ARTIGOS CIENTÍFICOS</p>
    </div>
    </div>
    <div class="inlinedeskcriteria">
      <p class="text-left mt-5 sizecriteriatext2">Nos baseamos apenas em artigos científicos e classificações químicas mais recentes de organizações referências como: CIR, Cos Ing, Pubchem, ECHA, FDA, Hotlist and Pollution Waste Canada, IFRA, EPA. Também consultamos as RDCs da ANVISA. <br /> Esses órgãos já possuem critérios mínimos de tempo de observação e população avaliada. Compartilhamos as principais evidências científicas publicamente em cada avaliação de um ingrediente. <br /> A avaliação de segurança inclui uma avaliação do potencial de um ingrediente em causar efeitos de curto prazo e efeitos de longo prazo (crônicos e/ou cumulativos) que só aparecem após exposições repetidas mais longas. Os cientistas consideram o potencial de um ingrediente para causar irritação nos olhos ou na pele, reações alérgicas na pele, efeitos no desenvolvimento reprodutivo ou fetal, danos ao DNA do corpo (genotoxicidade) e seu potencial para causar câncer.</p>
    </div>
    </div>
    <div>
    <div class="inlinedeskcriteria">
    <div class="d-flex mt-5">
    <%= image_tag "certificados.svg", class:"articleresponsible" %>
    <p class="provenarticle">CERTIFICAÇÕES</p>
    </div>
    </div>
    <div class="inlinedeskcriteria">
      <p class="text-left mt-5 sizecriteriatext2">Existe um ponto importante em relação a contaminação, formato ou produção do ingrediente. Muitos ingredientes são seguros, contudo, se carregarem consigo impurezas do solo, tiverem processos produtivos que envolvam animais ou não estejam no formato ideal, podem oferecer risco. Por isso sempre incentivamos a olhar selos certificadores. Os de orgânicos e cruelty free ajudam a identificar alguns desses pontos.</p>
    </div>
    </div>

<div class="backgrouddesk mt-5">
  <div class="d-flex"><p class="fonttitle">Aspectos avaliados pela</p><%= image_tag "limppsemslogan.svg" , class:"sizesemlogan" %> </div>
    <div class="inlinedeskcriteria">
    <div class="d-flex">
    <%= image_tag "saude.svg", class:"marginhealth" %>
    <p class="marginrisk">Risco à saúde</p>
    </div>
    </div>
    <div class="inlinedeskcriteria">
    <div class="d-flex">
    <%= image_tag "ambiente.svg", class:"leaf" %>
    <p class="marginrisk">Risco ao meio ambiente</p>
    </div>
    </div>
    <div class="inlinedeskcriteria">
    <div class="d-flex">
    <%= image_tag "alergia.svg", class:"alergenic" %>
    <p class="marginrisk">Potencial alegênico</p>
    </div>
    </div>

    <p class="text-left mt-4 textobs">Obs.: Ao existir um potencial alergênico não significa que você vá desenvolver uma alergia utilizando o produto. Mas sim, que são ingredientes que comumente oferecem maior probabilidade de irritação, sensibilização ou reação alérgica da pele. Mas lembre-se, seu médico é sempre a melhor pessoa para indicar ou contraindicar produtos.</p>
<div class="fonttitledesk">
  <div class="d-flex"><p class="fonttitle">Critérios de avaliação</p><%= image_tag "limppsemslogan.svg" , class:"sizesemlogan" %> </div>
  <div class="inlinedeskcriteria">
  <span class="bigdotgreen"></span>
    <p class="criterios"> Seguro em cosméticos </p>
    <p class="criterioscinza mr-5"> É seguro em cosméticos sem restrições de uso ou quantidade, e sem causar impactos à saúde e/ou ao meio ambiente.</p>
  </div>
  <div class="inlinedeskcriteria">
<span class="bigdotyellow"></span>
    <p class="criteriosyellow"> Seguro em cosméticos, com restrições  </p>
    <p class="criterioscinza mr-5"> É seguro em cosméticos com restrições de quantidade e/ou uso, segundo evidências científicas. E podem causar impactos à saúde e/ou ao meio ambiente se forem utilizadas em finalidades distintas as aprovadas ou em quantidade acima das permitidas.</p>
  </div>
  <div class="inlinedeskcriteria">
<span class="bigdotorange"></span>
    <p class="criteriosorange"> Classificados como seguros, mas ainda em avaliação </p>
    <p class="criterioscinza mr-5"> São considerados seguros em cosméticos por órgãos especializados, porém, estão com estudos ainda em avaliação de danos mais graves.</p>
  </div>
  <div class="margincriteriadesk">
  <div class="inlinedeskcriteria">
<span class="bigdotred"></span>
    <p class="criteriosred"> Comprovadamente associados a danos graves </p>
    <p class="criterioscinza mr-5"> Já existe comprovação científica conclusiva que podem causar impactos graves à saúde e/ou ao meio ambiente.</p>
  </div>
  <div class="inlinedeskcriteria">
<span class="bigdotgrey"></span>
    <p class="criteriosgrey"> Potencial inconclusivo   </p>
    <p class="criterioscinza mr-5"> Estudos não permitem nenhuma conclusão por estarem em andamento ou obterem dados divergentes sobre sua segurança a saúde e/ou impactos ao meio ambiente.</p>
  </div>
  </div>
</div>
</div>
</div>
