<style>
    h6{
    color: #333132;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    }
  p{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    }
    .btn-avaliacao{
      color: white;
      background-color: #8F89DD;
      border-radius: 30px;
      padding: 0.5rem 2rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    .title{
      color: #67D89E;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
    }
    .verde{
      color: #57B675;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;

    }
    .amarelo{
      color: #FABA02;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .vermelho{
      color: #D93500;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
</style>
<div class="container mt-4 mr-2 ml-2 p-3">
  <div class="d-flex justify-content-center"><%= image_tag "responsability.svg" %></div>
    <h6 class="text-center mt-5">Promover acesso à informação para empoderar escolhas conscientes</h6>
      <p class="text-left mt-5 title">Ecologicamente correto</p>
      <p class="text-left mt-3">Pensamos no meio ambiente. Sabemos que existem substâncias que em determinada quantidade são seguras para o ser humano, mas quando eliminadas via sistema de esgoto, ou utilizadas em mares e rios oferecem grandes riscos a natureza.</p>
      <p class="text-left mt-4 title">Socialmente justo</p>
      <p class="text-left mt-3">Tudo o que é ser humano e suas relações. Desde as parcerias com negociações ganha ganha, até a garantia da saúde e bem estar dos nossos consumidores.</p>
      <p class="text-left mt-4 title">Economicamente viável</p>
      <p class="text-left mt-3">Sabemos que o mercado de beleza limpa ainda é pequeno. A ideia é ser uma plataforma que divulgue o diferencial desse mercado, fazendo com que as empresas que hoje se preocupam com formulação sustentável cresçam, incentivando o pequeno produtor local.</p>

    <h6 class="text-center mt-5">Nossos critérios são transparentes!</h6>
      <p class="text-left mt-4">Todas as consultas de ingredientes contidos nos produtos são feitas a partir das embalagens, ou seja, informações públicas que estão disponíveis para qualquer pessoa. Caso as marcas entrem em contato conosco com considerações e/ou certificados de pureza colocamos na plataforma. E-mail para contato: limpp.com.vc@gmail.com  </p>
      <p class="text-left mt-3">Analisamos ingredientes/substâncias em sua menor unidade, não apenas as classes ou grupos generalizados. Exemplo: classificamos o Metilparabeno, o Butilparabeno etc, e não parabenos em geral. </p>
    <div class="d-flex mt-5">
    <%= image_tag "fontes.svg", class:"articleresponsible" %>
    <p class="provenarticle">ARTIGOS CIENTÍFICOS</p>
    </div>
      <p class="text-left mt-2">Nos baseamos apenas em artigos científicos e classificações químicas mais recentes de organizações referências como: CIR, Cos Ing, Pubchem, ECHA, FDA, Hotlist and Pollution Waste Canada, IFRA, EPA. Também consultamos as RDCs da ANVISA.</p>
      <p class="text-left mt-3">Esses órgãos já possuem critérios mínimos de tempo de observação e população avaliada. Compartilhamos as principais evidências científicas publicamente em cada avaliação de um ingrediente.</p>
    <p class="mt-3"> A avaliação de segurança inclui uma avaliação do potencial de um ingrediente em causar efeitos de curto prazo e efeitos de longo prazo (crônicos e/ou cumulativos) que só aparecem após exposições repetidas mais longas. Os cientistas consideram o potencial de um ingrediente para causar irritação nos olhos ou na pele, reações alérgicas na pele, efeitos no desenvolvimento reprodutivo ou fetal, danos ao DNA do corpo (genotoxicidade) e seu potencial para causar câncer.</p>
    <div class="d-flex mt-5">
    <%= image_tag "certificados.svg", class:"articleresponsible" %>
    <p class="provenarticle">CERTIFICAÇÕES</p>
    </div>
      <p class="text-left mt-2">Também temos uma aba de selos certificadores. Marcas que possuem selos oficiais que certificam que seus ingredientes são naturais, orgânicos, não testam em animais e/ou que tem embalagem reciclável ganham pontos para nossa escolha. Assim temos certeza sobre a origem de seus ingredientes e vemos a preocupação da marca em pensar em todos os impactos que podem causar.</p>


    <div class="d-flex"><p class="aspecto mt-5">Aspectos avaliados por nós:</div>
    <div class="d-flex">
    <%= image_tag "saude.svg", class:"marginhealth" %>
    <p class="marginrisk">Risco à saúde</p>
    </div>
    <div class="d-flex">
    <%= image_tag "ambiente.svg", class:"marginhealth" %>
    <p class="marginrisk">Risco ao meio ambiente</p>
    </div>
    <div class="d-flex">
    <%= image_tag "alergia.svg", class:"marginhealth" %>
    <p class="marginrisk">Potencial alergênico</p>
    </div>

<div class="d-flex mt-5"><p class="fonttitle">Critérios de avaliação</p><%= image_tag "limppsemslogan.svg" , class:"sizesemlogan" %> </div>
<span class="bigdotgreen"></span>
    <p class="criterios"> Seguro em cosméticos </p>
    <p class="criterioscinza mr-5"> É seguro em cosméticos sem restrições de uso ou quantidade, e sem causar impactos à saúde e/ou ao meio ambiente.</p>
<span class="bigdotyellow"></span>
    <p class="criteriosyellow"> Seguro em cosméticos, com restrições  </p>
    <p class="criterioscinza mr-5"> É seguro em cosméticos com restrições de quantidade e/ou uso, segundo evidências científicas. E podem causar impactos à saúde e/ou ao meio ambiente se forem utilizadas em finalidades distintas as aprovadas ou em quantidade acima das permitidas.</p>
<span class="bigdotorange"></span>
    <p class="criteriosorange"> Classificados como seguros, porém, com suspeitas ainda em avaliação.  </p>
    <p class="criterioscinza mr-5"> São considerados seguros em cosméticos por órgãos especializados, porém, estão com estudos ainda em avaliação de danos mais graves.</p>
<span class="bigdotred"></span>
    <p class="criteriosred"> Comprovadamente associados a danos graves </p>
    <p class="criterioscinza mr-5"> Já existe comprovação científica conclusiva que podem causar impactos graves à saúde e/ou ao meio ambiente.</p>
<span class="bigdotgrey"></span>
    <p class="criteriosgrey"> Potencial inconclusivo   </p>
    <p class="criterioscinza mr-5"> Estudos não permitem nenhuma conclusão por estarem em andamento ou obterem dados divergentes sobre sua segurança a saúde e/ou impactos ao meio ambiente.</p>

    <div class="d-flex mt-5"><%= image_tag "limppsemslogan.svg" , class:"sizenoslogan mt-2 mr-2" %><p class="fonttitle mt-4"> é uma plataforma colaborativa!</p></div>
    <p class="obs mb-2">Classificamos ingredientes em que as fotos dos produtos nos são enviadas por usuários da plataforma. Estamos abertos para correções/atualizações de fórmula por parte dos fabricantes. Mostramos apenas os ingredientes que são considerados suspeitos. As demais substâncias da fórmula ou são seguras tanto para saúde como meio ambiente e não são alergênicas, ou ainda não foram avaliadas por nossa equipe. Sente falta de algum? Fale conosco através do e-mail limpp.com.vc@gmail.com</p>
</div>

