<style>
  .carditemingredient{
    border: none !important;
  }
</style>
    <ul class="marginul">
        <% @item.combinations.each do |combination| %>
        <div class="card carditemingredient" style="width: 20rem; ">
          <div class="card-body d-flex justify-content-start">
          <% if combination.ingredient.name == "TALCO" || combination.ingredient.name == "SILICA" || combination.ingredient.name == "PARFUM" %>
            <li class="mt-1 mb-2 ingredientlink"><%= combination.ingredient.name %><%= image_tag "alert.svg", class:"alertsize" %></li>
        <% else %>
            <li class="mt-1 mb-2 ingredientlink"><%= combination.ingredient.name %></li>
        <% end %>

        <div>
        <%= image_tag "saude.svg", class:"marginhealth2" %>
        <% if combination.ingredient.risk_to_health == "yellow" %>
        <span class="dotyellow2"></span>
        <% elsif combination.ingredient.risk_to_health == "red"  %>
        <span class="dotred2"></span>
        <% elsif combination.ingredient.risk_to_health == "grey"  %>
        <span class="dotgrey2"></span>
        <% else %>
        <span class="dotgreen2"></span>
        <% end %>
        </div>
        <div>
        <%= image_tag "ambiente.svg", class:"marginenvironment" %>
        <% if combination.ingredient.risk_to_enviroment == "yellow" %>
        <span class="dotyellow2"></span>
        <% elsif combination.ingredient.risk_to_enviroment == "red"  %>
        <span class="dotred2"></span>
        <% elsif combination.ingredient.risk_to_enviroment == "grey"  %>
        <span class="dotgrey2"></span>
        <% else %>
        <span class="dotgreen2"></span>
        <% end %>
        </div>
        <div>
        <%= image_tag "alergia.svg", class:"marginhealth2" %>
          <% if combination.ingredient.allergenic == "sim" %>
          <p class="potencialsim2">SIM</p>
          <% else %>
          <p class="potencialnao2">NÃO</p>
          <% end %>
        </div>
        <%= link_to ingredient_path(combination.ingredient), class:"componentshow" do %>
          <%= image_tag "Componente.svg" %>
        <% end %>
        </div>
        <p class="linea">________________________________________________</p>
        <% end %>
        </div>
        </ul>
