<style>
  #content-wrap{
    padding-bottom: 4em;
  }
  .bg-limpp{
    background-color: #8F89DD;
  }
  .btn-cadastrar{
      color: white;
      background-color: #333132;
      border-radius: 30px;
      padding: 0.3rem 1rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
</style>
<div class="container text-center rounded">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 bg-limpp rounded p-3" style="box-shadow: 0 0 15px rgba(0,0,0,0.2);">

      <%= simple_form_for @item do |f| %>

        <%= f.input :name,
                    required: true,
                    label: "Nome completo do produto" %>
        <%= f.input :ingredient,
                    label: "Ingrediente tóxico" %>
        <%= f.input :certification,
                    label: "Certificações" %>
        <%= f.input :coupon,
                    label: "Cupom de desconto" %>
        <%= f.input :photo,
                     required: true,
                     autofocus: true,
                     input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Inclua a foto do produto' %>

        <%= f.submit "Pronto!", class: 'btn btn-cadastrar mb-1' %>

      <% end %>

    </div>
  </div>
</div>
