<style>
  .show{
      min-width: 270px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .btn-filtrar{
      background-color: #67D89E;
      color: white;
      border-radius: 30px;
      font-weight: bold;
      padding: 0.3rem 1.2rem;
    }
    a{
      color: #8F89DD;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
    a:hover{
      color: #333132;
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
</style>
<div class="container-fluid mt-5">
  <div class="container p-1">
  <div class="d-flex justify-content-center">
    <%= image_tag "logolimpp.svg", class:'image' %>
  </div>
  <form>
    <div class="d-flex justify-content-center mt-4">
     <div class="input-group mb-3">
        <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill shadow-sm p-3 bg-white rounded font-search",
          placeholder: "Busque por um produto ou ingrediente"
        %>
      <%= image_submit_tag("lupa.svg", class: 'lupa ml-2') %>
      <% end %>
     </div>
    </div>
   </form>
   <%= link_to "Eliminar filtros, ordenações e buscas", items_path, class:"font ml-3"  %>
<div class="d-flex justify-content-between mt-2">
    <div class="dropdown">
      <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "ordenar.svg" %> Ordenar
      </button>
        <div class="dropdown-content sort">
        <a class="dropdown-item" href="#"> <%= link_to 'Melhor avaliados', items_path(order: 'average') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Mais limpos', items_path(order: 'combinations') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Com mais certificados', items_path(order: 'certifications') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Com mais cupons de desconto', items_path(order: 'coupons') %></a>
      </div>
    </div>

  <div class="dropdown">
      <button class="btn btn-dropdown dropdown-toggle mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "filtrar.svg" %> Filtrar
      </button>
      <div class="dropdown">
        <div class="dropdown-content index">
             <%= simple_form_for :search, method: "GET" do |f| %>
             <p class="fontfilter">Por categoria</p>
              <%= f.input :category, label:"", required: false, collection: $category, as: :check_boxes, class:"greencheck" %>
             <p class="fontfilter">Por subcategoria</p>
              <%= f.input :subcategory, label:"", required: false,  collection: $subcategory, as: :check_boxes %>
             <p class="fontfilter">Por toxicidade</p>
              <%= f.input :toxicity, label:"", required: false,  collection: $toxicity, as: :check_boxes %>
             <%= f.submit "Filtar", class: "btn btn-filtrar" %>
          <% end %>
       </div>
      </div>
  </div>
</div>
<%= render 'cardindex' %>
  </div>
</div>
