<div class="container-fluid mt-5">
  <style>
    .image{
      width: 140px;
    }
    .lupa{
      width: 30px;
    }
    .font{
      color: #707070;
      font-size: 13px;
      margin-left: -64px;
      font-family: 'Montserrat', sans-serif;
      height: 84px;
      width:180px;
    }
    .btn-cadastrar{
      color: white;
      background-color: #333132;
      border-radius: 30px;
      padding: 0.3rem 1rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    .card-photo{
      box-shadow: 0px 2px 2px #33313261;
      border-radius: 8px;
      height: 70px;
      width: 40%;
    }
    .card-body{
      padding: 0.7rem;
    }
    .btn-dropdown{
      background-color: none !important;
      font-family: 'Montserrat', sans-serif;
      color: #333132;
      font-size: 14px;
    }
    .row{
      margin: 0 -7px;
    }
    .show{
      min-width: 270px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .fontfilter{
      background-color: #333132;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      margin-left:-4px;
      margin-bottom: 3px;
      padding: 4px;
    }
    .btn-login{
      background-color: #67D89E;
      color: white;
      border-radius: 30px;
      font-weight: bold;
      padding: 0.3rem 1rem;
    }
   .font-search{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
   }
   .col-form-label{
    color: #333132 !important;
   }
  .index {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      background: white;
      border: none;
      color: #8F89DD;
      display: none;
      align-items: right;
      position: absolute;
      flex-grow: 0;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border-radius: 5px;
      right: 0;
      left: auto;
      top: 20px;
      width: 330px;
    }
    .sort{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      background: white;
      border: none;
      color: #8F89DD;
      display: none;
      align-items: right;
      position: absolute;
      flex-grow: 0;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border-radius: 5px;
      right: 0;
      left: 10px;
      width: 330px;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
  </style>
  <div class="container p-1">
  <div class="d-flex justify-content-center">
    <%= image_tag "logolimpp.svg", class:'image' %>
  </div>
  <form>
    <div class="d-flex justify-content-center mt-4">
     <div class="input-group mb-3">
        <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill shadow-sm p-3 bg-white rounded font-search",
          placeholder: "Busque por um produto ou ingrediente"
        %>
      <%= image_submit_tag("lupa.svg", class: 'lupa ml-2') %>
      <% end %>
     </div>
    </div>
   </form>
   <%= link_to "Eliminar filtros, ordenações e buscas", items_path, class:"font ml-3"  %>
<div class="d-flex justify-content-between mt-2">
    <div class="dropdown">
      <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "ordenar.svg" %> Ordenar
      </button>
        <div class="dropdown-content sort">
        <a class="dropdown-item" href="#"> <%= link_to 'Melhor avaliados', items_path(order: 'average') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Mais limpos', items_path(order: 'combinations') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Com mais certificados', items_path(order: 'certifications') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Com mais cupons de desconto', items_path(order: 'coupons') %></a>
      </div>
    </div>

  <div class="dropdown">
      <button class="btn btn-dropdown dropdown-toggle mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "filtrar.svg" %> Filtrar
      </button>
      <div class="dropdown">
        <div class="dropdown-content index">
             <%= simple_form_for :search, method: "GET" do |f| %>
             <p class="fontfilter">Por categoria</p>
              <%= f.input :category, label:"", required: false, collection: $category, as: :check_boxes %>
             <p class="fontfilter">Por subcategoria</p>
              <%= f.input :subcategory, label:"", required: false,  collection: $subcategory, as: :check_boxes %>
             <p class="fontfilter">Por toxicidade</p>
              <%= f.input :toxicity, label:"", required: false,  collection: $toxicity, as: :check_boxes %>
             <%= f.submit "Filtar", class: "btn btn-login" %>
          <% end %>
       </div>
      </div>
  </div>
</div>
<%= render 'cardindex' %>
</div>
</div>
