<div class="container-fluid mt-5">
  <style>
    .image{
      width: 140px;
    }
    .lupa{
      width: 30px;
    }
    .btn-purpleheart{
      color: #8F89DD;
      width: 30px;
      font-size: 25px;
    }
    .btn-greyheart{
      color: #00000029;
      width: 30px;
      font-size: 25px;
      margin-left: 5px;
    }
    .desconto{
      width: 35px;
      height: 35px;
    }
    .font{
      color: #707070;
      font-size: 13px;
      margin-left: -64px;
      font-family: 'Montserrat', sans-serif;
      height: 84px;
      width:180px;
    }
    .btn-cadastrar{
      color: white;
      background-color: #333132;
      border-radius: 30px;
      padding: 0.3rem 1rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    .card-photo{
      box-shadow: 0px 2px 2px #33313261;
      border-radius: 8px;
      height: 70px;
      width: 40%;
    }
    .position{
      margin-left: -10px;
    }
    .space{
      position: absolute;
      bottom: 0px;
      right: 17px;
    }
    .card-body{
      padding: 0.7rem;
    }
    .btn-dropdown{
      background-color: none !important;
      font-family: 'Montserrat', sans-serif;
      color: #333132;
      font-size: 14px;
    }
    .notavailable{
      position: absolute;
      bottom: -56px;
      left: 162px;
      color: #67D89E;
      font-size: 12px !important;
      font-weight: bold;
    }
    .case{
      position: absolute;
      bottom: -2px;
      left: 162px;
      font-family: 'Montserrat', sans-serif;
    }
    .component{
      position: absolute;
      top: 8px;
      right: 17px;
    }
    .row{
      margin: 0 -7px;
    }
    .star{
      color: #33D89E;
      width: 10px;
    }
    .shadowcss{
      box-shadow: 2px 2px 4px #D6D6D6;
    }
    .show{
      min-width: 270px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .fontfilter{
      background-color: #333132;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      margin-left:-4px;
      margin-bottom: 3px;
      padding: 4px;
    }
    .btn-login{
      background-color: #67D89E;
      color: white;
      border-radius: 30px;
      font-weight: bold;
      padding: 0.3rem 1rem;
    }
   .font-search{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
   }
   .col-form-label{
    color: #333132 !important;
   }
  .index {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      background: white;
      border: none;
      color: #8F89DD;
      display: none;
      align-items: right;
      position: absolute;
      flex-grow: 0;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border-radius: 5px;
      right: 0;
      left: auto;
      top: 20px;
      width: 330px;
    }
    .sort{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      background: white;
      border: none;
      color: #8F89DD;
      display: none;
      align-items: right;
      position: absolute;
      flex-grow: 0;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border-radius: 5px;
      right: 0;
      left: 10px;
      width: 330px;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
  </style>
  <div class="container p-1">
  <div class="d-flex justify-content-center">
    <%= image_tag "logolimpp.svg", class:'image' %>
  </div>
  <form>
    <div class="d-flex justify-content-center mt-4">
     <div class="input-group mb-3">
        <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill shadow-sm p-3 bg-white rounded font-search",
          placeholder: "Busque por um produto ou ingrediente"
        %>
      <%= image_submit_tag("lupa.svg", class: 'lupa ml-2') %>
      <% end %>
     </div>
    </div>
   </form>
   <%= link_to "Eliminar filtros, ordenações e buscas", items_path, class:"font ml-3"  %>
<div class="d-flex justify-content-between mt-2">
    <div class="dropdown">
      <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "ordenar.svg" %> Ordenar
      </button>
        <div class="dropdown-content sort">
        <a class="dropdown-item" href="#"> <%= link_to 'Melhor avaliados', items_path(order: 'average') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Mais limpos', items_path(order: 'combinations') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Com mais certificados', items_path(order: 'certifications') %></a>
        <a class="dropdown-item" href="#"> <%= link_to 'Com mais cupons de desconto', items_path(order: 'coupons') %></a>
      </div>
    </div>

  <div class="dropdown">
      <button class="btn btn-dropdown dropdown-toggle mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "filtrar.svg" %> Filtrar
      </button>
      <div class="dropdown">
        <div class="dropdown-content index">
             <%= simple_form_for :search, method: "GET" do |f| %>
             <p class="fontfilter">Por categoria</p>
              <%= f.input :category, label:"", required: false, collection: $category, as: :check_boxes %>
             <p class="fontfilter">Por subcategoria</p>
              <%= f.input :subcategory, label:"", required: false,  collection: $subcategory, as: :check_boxes %>
             <p class="fontfilter">Por toxicidade</p>
              <%= f.input :toxicity, label:"", required: false,  collection: $toxicity, as: :check_boxes %>
             <%= f.submit "Filtar", class: "btn btn-login" %>
          <% end %>
       </div>
      </div>
  </div>
</div>
  <div class="row justify-content-center">
  <div class="column d-flex flex-wrap">
     <% @items.each do |item| %>
     <div class="card shadow-sm bg-white mt-3 ml-3" style="width: 20rem; border-radius: 8px; ">
       <div class="card-body d-flex justify-content-start">
         <div class="d-flex align-items-end position">
         <% if item.photo.attached? %>
          <%= cl_image_tag item.photo.key, width: 85, height: 85, crop: :fill, class:"shadowcss bg-white rounded" %>
         <% else %>
          <img src="https://images.unsplash.com/photo-1503236823255-94609f598e71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-photo"/>
         <% end %>
         <% if item.reviews.empty? %>
            <p class="card-text font notavailable"><%= "Não avaliado ainda" %></p>
          <% else %>
            <% item.calculate_average.times do %>
              <i class="fas fa-star star ml-2"></i>
            <% end %>
          <% end %>
         </div>
         <p class="card-text font case"><%= item.name %></p>
         <div class="d-flex justify-content-end space">
          <% if item.coupons.exists? %>
          <%= link_to item_coupons_path(item) do %>
            <%= image_tag "desconto2.png", class:"desconto mt-2" %>
          <% end %>
          <% end %>
            <%= simple_form_for [item, Wishlist.new] do |s|  %>
            <% if @user_wishlists.include? item  %>
              <button type="submit" class="btn btn-purpleheart">
                <i class="fas fa-heart"></i>
              </button>
                <% else %>
                <button type="submit" class="btn btn-greyheart">
                <i class="fas fa-heart"></i>
              </button>
                <% end %>
            <% end %>
         </div>
        <div class="d-flex justify-content-end">
        <%= link_to item_path(item), class:"component" do %>
        <%= image_tag "Componente.svg" %>
        <% end %>
        </div>
       </div>
     </div>
     <% end %>
  </div>
  </div>
</div>
</div>
