<div class="container-fluid mt-5">
  <style>
    .lupa{
      width: 30px;
    }
    .font{
      color: #707070;
      font-size: 14px;
    }
    .btn-cadastrar{
      color: white;
      background-color: #333132;
      border-radius: 30px;
      padding: 0.3rem 1rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    .card-photo{
      box-shadow: 0px 2px 2px #33313261;
      border-radius: 8px;
      height: 70px;
      width: 40%;
    }
  </style>
  <% if policy(Item).create? %>
    <%= link_to "Adicione um novo item", new_item_path, class: "btn btn-cadastrar mt-3 mb-3"%>
  <% end %>
  <form>
    <div class="d-flex justify-content-center">
     <div class="input-group mb-3">
        <%= form_tag items_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill shadow-sm p-3 bg-white rounded",
          placeholder: "Busque por um produto ou ingrediente"
        %>
      <%= image_submit_tag("lupa.svg", class: 'lupa ml-2') %>
      <% end %>
     </div>
    </div>
   </form>
   <% @items.each do |item| %>
   <div class="card shadow-sm bg-white mt-3" style="width: 20rem; border-radius: 8px; ">
     <div class="card-body d-flex justify-content-around">
       <% if item.photo.attached? %>
        <%= cl_image_tag item.photo.key, width: 200, height: 200, crop: :fill %>
       <% else %>
       <img src="https://images.unsplash.com/photo-1503236823255-94609f598e71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-photo"/>
       <% end %>
       <p class="card-text font"><%= link_to item.name, item_path(item)%></p>
         <div class="d-flex justify-content-end align-items-end">
          <%= simple_form_for [item, Wishlist.new] do |s|  %>
            <%= image_submit_tag("heart.png", class: 'lupa ml-2') %>
          <% end %>
         </div>
     </div>
   </div>
   <% end %>
</div>
