<div class="container-fluid mt-5">
  <style>
    .font{
      color: #707070;
      font-size: 14px;
      margin-left: -80px;
      height: 84px;
      width:180px;
    }
    .desconto{
      width: 35px;
      height: 35px;
    }
    .btn-cadastrar{
      color: white;
      background-color: #333132;
      border-radius: 30px;
      padding: 0.3rem 1rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    p{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    }
    .verde{
      color: #57B675;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;

    }
    .amarelo{
      color: #FABA02;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .vermelho{
      color: #D93500;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
    .position{
      margin-left: -10px;
    }
    .space{
      position: absolute;
      bottom: 0px;
      right: 17px;
    }
    .card-body{
      padding: 0.7rem;
    }
    .notavailable{
      position: absolute;
      bottom: -56px;
      left: 162px;
      color: #67D89E;
      font-size: 14px;
      font-weight: bold;
    }
    .case{
      position: absolute;
      bottom: -2px;
      left: 162px;
    }
  </style>
  <div class="card shadow-sm bg-white mt-3" style="width: 20rem; border-radius: 8px; ">
     <div class="card-body d-flex justify-content-start">
       <div class="d-flex align-items-end position">
       <% if @item.photo.attached? %>
        <%= cl_image_tag @item.photo.key, width: 80, height: 80, crop: :fill %>
       <% else %>
        <img src="https://images.unsplash.com/photo-1503236823255-94609f598e71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-photo"/>
       <% end %>
       <% if @item.reviews.empty? %>
          <p class="card-text font notavailable"><%= "Item não avaliado" %></p>
          <% else %>
          <% @reviews.last&.tap do |review| %>
            <%= render "review_card", review: review %>
          <% end %>
       <% end %>
       </div>
       <p class="card-text font case"><%= @item.name %></p>
       <div class="d-flex justify-content-end space">
         <%= image_tag("desconto2.png", class: 'desconto mb-1') %>
         <div>
          <%= simple_form_for [@item, Wishlist.new] do |s|  %>
            <%= image_submit_tag("heart.png", class: 'lupa ml-2') %>
        <% end %>
         </div>
       </div>
     </div>
  </div>
  <div class="d-flex justify-content-start mt-2">
      <p class="mr-4"><%=link_to '<i class="far fa-edit"></i> Edit'.html_safe, edit_item_path(@item.id)%></p>
      <p class="ml-4"><%= link_to '<i class="far fa-trash-alt"></i> Delete'.html_safe, item_path(@item.id), method: :delete, data: { confirm: 'Tem certeza?' }%> </p>
  </div>

      <% @reviews.last&.tap do |review| %>
      <%= render "review_card_buyagain", review: review %>
      <% end %>

  <% if current_user != @item.user %>
    <%= form_for([@item, @review]) do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
          <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :buyagain do %><br>
        <%= f.radio_button :buyagain, 1 %>Sim<br>
        <%= f.radio_button :buyagain, 0 %>Não<br>
        <% end  %>
      </div>
      <div class="fas fa-star">
        <%= f.select :stars, 1..5 %><br>
      </div>
      <div class="actions">
        <%= f.submit 'Clique para avaliar', :class => "btn btn-cadastrar" %>
      </div>
    <% end %>
  <% end %>
  <p class="font mt-4 ml-2">Critérios de avaliação limpp</p>
  <div class="d-flex justify-content-right"><%= image_tag "criterios.png" %>
      <div>
        <div class="ml-4">
        <p class="text-left mt-4 verde">VERDE</p>
        <p class="text-left mt-3 mr-5">Produtos que todos os ingredientes são seguros e aprovados tanto para uso humano, como quando eliminado no meio ambiente.</p>
        </div>
        <div class="ml-4">
        <p class="text-left mt-5 amarelo">AMARELO</p>
        <p class="text-left mt-3 mr-5">São ingredientes que causam divergência no meio científico. Se enquadram produtos cujos ingredientes não são 100% transparentes em suas embalagens.</p>
        </div>
        <div class="ml-4">
        <p class="text-left mt-5 vermelho">VERMELHO</p>
        <p class="text-left mt-3 mr-5">Nesse caso, não existem evidências que provem o contrário. São ingredientes que muitas vezes já foram proibidos na Europa ou nos Estados Unidos.</p>
        </div>
      </div>
    </div>
</div>
