<div class="container-fluid mt-5">
  <style>
    body{
      background-color: #F2F2F2;
    }
    .btn-cadastrar{
      color: white;
      background-color: #333132;
      border-radius: 30px;
      padding: 0.3rem 1rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      box-shadow: 0px 2px 2px #33313261;
    }
    p{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    }
    .nav-link{
    display: block;
    padding: 0.5rem 0.5rem !important;
    }
    .active{
      background-color: white !important;
      border: none;
      border-radius: 8px;
      color: #333132 !important;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 13px;
      padding: 20px;
    }
    .show {
      background: white !important;
      border: none;
      color: #333132 !important;
      font-family: 'Montserrat', sans-serif;

    }
    .nav-link{
      color: white;
      font-family: 'Montserrat', sans-serif;
    }
    .nav-item{
      background-image: linear-gradient(#66D8A0, #8D8BDB);
      color: #333132 !important;
      font-family: 'Montserrat', sans-serif;
      border-radius: 23px;
      border-color: white;
      font-weight: bold;
      font-size: 12px;
    }
    *,
    *::before,
    *::after {
       box-sizing: content-box;
    }
  </style>

  <div class="container p-1">
  <%= render 'cardshow' %>
  <ul class="nav nav-pills mt-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Ingredientes</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Certificações</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Avaliações (<%= @item.reviews.count %>)</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
  <div class="d-flex align-items-center">
    <div class="ingredientname">
  <% if @item.combinations.any? %>
        <ul class="marginul">
        <% @item.combinations.each do |combination| %>
        <div class="d-flex">
          <% if combination.ingredient.name == "Talco" || combination.ingredient.name == "Silica" || combination.ingredient.name == "Parfum" %>
          <li class="mt-2 mb-2 ingredientlink mr-3"><%= combination.ingredient.name %><%= image_tag "alert.svg", class:"alertsize" %></li>
        <%= link_to ingredient_path(combination.ingredient), class:"componentshow" do %>
          <%= image_tag "Componente.svg" %>
        <% end %>
        </div>
        <% else %>
        <div class="d-flex">
        <li class="mt-2 mb-2 ingredientlink mr-3"><%= combination.ingredient.name %></li>
        <%= link_to ingredient_path(combination.ingredient), class:"componentshow" do %>
          <%= image_tag "Componente.svg" %>
        <% end %>
        </div>
        </div>
        <% end %>
      <div class="d-flex">
        <div>
        <%= image_tag "saude.svg", class:"marginhealth2" %>
        <% if combination.ingredient.risk_to_health == "yellow" %>
        <span class="dotyellow2"></span>
        <% elsif combination.ingredient.risk_to_health == "red"  %>
        <span class="dotred2"></span>
        <% elsif combination.ingredient.risk_to_health == "grey"  %>
        <span class="dotgrey2"></span>
        <% else %>
        <span class="dotgreen2"></span>
        <% end %>
        </div>
        <div>
        <%= image_tag "ambiente.svg", class:"marginhealth2" %>
        <% if combination.ingredient.risk_to_enviroment == "yellow" %>
        <span class="dotyellow2"></span>
        <% elsif combination.ingredient.risk_to_enviroment == "red"  %>
        <span class="dotred2"></span>
        <% elsif combination.ingredient.risk_to_enviroment == "grey"  %>
        <span class="dotgrey2"></span>
        <% else %>
        <span class="dotgreen2"></span>
        <% end %>
        </div>
        <div>
        <%= image_tag "alergia.svg", class:"marginhealth2" %>
          <% if combination.ingredient.allergenic == "sim" %>
          <p class="potencialsim2">SIM</p>
          <% else %>
          <p class="potencialnao2">NÃO</p>
          <% end %>
        </div>
      </div>
        <p class="linea">___________________________________________________</p>
        <% end %>
        </ul>
     <% else %>
        <p class="card-text ingredientname"><%= 'Esse item não contém ingredientes suspeitos avaliados pela limpp' %></p>
        <p class="linea">___________________________________________________</p>
  <% end %>

    <p class="fontdate mt-3">Item atualizado em <%= @item.updated_at %></p>
    <p class="fonttitle mt-3">Aspectos avaliados por nós:</p>
    <div class="d-flex">
    <%= image_tag "saude.svg", class:"marginhealth" %>
    <p class="marginrisk">Risco à saúde</p>
    </div>
    <div class="d-flex">
    <%= image_tag "ambiente.svg", class:"marginhealth" %>
    <p class="marginrisk">Risco ao meio ambiente</p>
    </div>
    <div class="d-flex">
    <%= image_tag "alergia.svg", class:"marginhealth" %>
    <p class="marginrisk">Potencial alegênico</p>
    </div>

<div class="d-flex"><p class="fonttitle mt-3">Critérios de avaliação</p><%= image_tag "logolimpp.svg" , class:"sizelogoitems" %> </div>
    <span class="bigdotgreen"></span>
    <p class="criterios"> Seguro em cosméticos </p>
    <p class="criterioscinza mr-5"> É seguro em cosméticos sem restrições e sem causar impactos a saúde e/ou ao meio ambiente.</p>
<span class="bigdotyellow"></span>
    <p class="criteriosyellow"> Seguro em cosméticos, com restrições  </p>
    <p class="criterioscinza mr-5"> É seguro em cosméticos com restrições, segundo evidências científicas. E podem causar impactos a saúde e/ou ao meio ambiente dependendo do uso ou quantidade.</p>
<span class="bigdotred"></span>
    <p class="criteriosred"> Inseguro em cosméticos </p>
    <p class="criterioscinza mr-5"> São considerados inseguros em cosméticos, segundo evidências científicas. E podem causar impactos graves a saúde e/ou ao meio ambiente.</p>
<span class="bigdotgrey"></span>
    <p class="criteriosgrey"> Potencial inconclusivo   </p>
    <p class="criterioscinza mr-5"> Estudos não permitem nenhuma conclusão por estarem em andamento ou obterem dados divergentes sobre sua segurança a saúde e/ou impactos ao meio ambiente.</p>
</div>
  </div>
    <div class="d-flex mt-2"><%= image_tag "logolimpp.svg" , class:"sizelogocolab mr-1 mt-2" %><p class="fontcolab mt-4"> é uma plataforma colaborativa!</p></div>
    <p class="obs2 mb-2">Classificamos ingredientes em que as fotos dos produtos nos são enviadas por usuários da plataforma. Estamos abertos para correções/atualizações de fórmula por parte dos fabricantes.</p>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
     <% if @item.certification_photos.attached? %>
      <% @item.certification_photos.each do |photo| %>
       <%= cl_image_tag photo.key, width: 80, height: 80, crop: :pad, class:"shadowcss bg-white rounded" %>
       <% end %>
     <% else %>
        <p class="card-text ingredientname"><%= 'Esse item não tem certificados aprovados pela limpp' %></p>
     <% end %>
     <p class="linea mt-3">_____________________________________________________</p>
      <div class="d-flex"><p class="fonttitle mt-2">Nota da</p><%= image_tag "logolimpp.svg" , class:"sizelogoitems mb-2" %> </div>
      <p class="mt-2 ingredientlink">Marcas que possuem selos oficiais que certificam que seus ingredientes são naturais, orgânicos, que não testam em animais e/ou que tem embalagem reciclável ganham pontos para nossa escolha.</p>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="d-flex">
    <% if @item.reviews.empty? %>
      <br><%=    link_to 'Seja o primeiro a avaliar esse produto', new_item_review_path(@item.id), class: "btn btn-cadastrar mt-1" %>
    <% else %>
    <p class="mr-1">Média geral</p>
    <p class="number ml-3"><%= @item.calculate_average %></p>
    <p class="ml-3 mr-1">de</p><p class="ml-1 font-weight-bold"><%= @item.reviews.count %></p>
    <% if @item.reviews.count == 1 %>
    <p class="ml-2">Avaliação</p>
    <% else %>
    <p class="ml-2">Avaliações</p>
    <% end %>
    </div>
    <% if @item.reviews.exists? %>
    <% @yes = (@item.reviews.where(buyagain: 1).count * 100.0 / @item.reviews.count).round(0) %>
    <% @no = (@item.reviews.where(buyagain: 0).count * 100.0 / @item.reviews.count).round(0) %>
    <% if @yes >= @no %>
      <div class="d-flex align-items-center">
       <span class="likeitem fonthumb"><i class="far fa-thumbs-up"><%= @yes %>%</i></span><p class="flex-nowrap mt-4">Comprariam novamente</p>
      </div>
    <% else %>
      <div class="d-flex align-items-center">
       <span class="dislikeitem fonthumb"><i class="far fa-thumbs-down"><%= @no %>%</i></span><p class="flex-nowrap mt-3">Não comprariam novamente</p>
      </div>
    <% end %>
    <% end %>
    <br><%=    link_to 'Clique para avaliar esse produto', new_item_review_path(@item.id), class: "btn btn-cadastrar mt-1" %>
    <% end %>
</div>
</div>
</div>
