<div class="container-fluid mt-5">
  <style>
    .image{
      width: 140px;
    }
    .space{
      position: absolute;
      bottom: 0px;
      right: 17px;
    }
     .card-body{
      padding: 0.7rem;
    }
    .row{
      margin: 0 -7px;
    }
    .prateleira{
      color: #333132;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  </style>
<div class="container p-1">
  <div class="d-flex justify-content-center">
    <%= image_tag "wishlistlogo.png", class:'image' %>
  </div>
  <p class="prateleira d-flex justify-content-center mt-2">Sua prateleira de produtos</p>
  <form>
    <div class="d-flex justify-content-center mt-4">
      <div class="input-group mb-3">
        <%= form_tag wishlists_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill shadow-sm p-3 bg-white rounded",
          placeholder: "Busque na sua lista de desejos"
          %>
          <%= image_submit_tag("lupa.svg", class: 'lupa ml-2') %>
        <% end %>
        </div>
      </div>
   </form>

    <div class="row justify-content-center">
        <%= render 'cardwishlist' %>
    </div>
 </div>
</div>
