<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Incentivamos autonomia e consciência na relação com cosméticos e cuidados pessoais para um consumo, cada vez mais, responsável, saudável e regenerativo.">
      <meta property="og:title" content="limpp">
      <meta property="og:image" content="logo.png">
      <meta property="og:description" content="Incentivamos autonomia e consciência na relação com cosméticos e cuidados pessoais para um consumo, cada vez mais, responsável, saudável e regenerativo.">
      <meta property="og:url" content="https://www.limpp.com.vc/" />
      <meta property="og:site_name" content="limpp"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>limpp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'shared/analytics' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
