<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="title" content="limpp">
    <meta name="description" content="Estimulando autonomia para um consumo responsável, saudável e regenerativo.">
    <meta property="og:image" content="logolimpp.svg">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>limpp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'shared/analytics' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
